<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
</head>
<body>
<div th:insert="navbar.html"></div>
<h1>Welcome to Gallery!!</h1>
<hr>
<form method="post" action="galleryPost" enctype="multipart/form-data">
    <input type="file" name="imgFile">
    <input type="submit" value="Upload Image">
</form>
<hr>
<h4>Images from TiDB: </h4>
<span th:each="image : ${session.totalImages}">
    <img th:src=" 'data:image/jpeg;base64,' + ${image.getImage()}" width="100" height="100">
</span>


</body>
</html>